<div id="booking" class="section">
  <div class="section-center">
    <div class="container">
      <div class="row">
        <div class="booking-form">
          <div class="form-header">
            <h1>Update</h1>
          </div>
          <form [formGroup]="customerUpdate" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <span class="form-label">Name</span>
                  <input class="form-control" type="text" formControlName="name" name="name"
                         placeholder="Enter your name">
                </div>
                <p style="color: red"
                   *ngIf="customerUpdate.controls.name.hasError('required') && customerUpdate.controls.name.touched">Is
                  not empty</p>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <span class="form-label">Id </span>
                  <input class="form-control" type="text" formControlName="id" placeholder="Enter your Id ">
                </div>
                <p style="color: red"
                   *ngIf="customerUpdate.controls.id.hasError('required')  && customerUpdate.controls.id.touched">Is
                  not empty</p>
                <p style="color: red"
                   *ngIf="customerUpdate.controls.id.hasError('pattern')  && customerUpdate.controls.id.touched">Format
                  KH-XXXX </p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <span class="form-label">Birth day</span>
                  <input class="form-control" type="date" formControlName="dayOfBirth"
                         placeholder="Enter your phone day">
                </div>
                <p style="color: red"
                   *ngIf="customerUpdate.controls.dayOfBirth.hasError('required')  && customerUpdate.controls.dayOfBirth.touched">
                  Is
                  not empty</p>
                <p style="color: red"
                   *ngIf="customerUpdate.controls.dayOfBirth.hasError('pattern')  && customerUpdate.controls.dayOfBirth.touched">
                  Format dd/mm/yyyy</p>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <span class="form-label">Address</span>
                  <input class="form-control" type="text" formControlName="address"
                         placeholder="Enter Standard Address">
                </div>
                <p style="color: red"
                   *ngIf="customerUpdate.controls.address.hasError('required')  && customerUpdate.controls.address.touched">
                  Is
                  not empty</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <span class="form-label">Salary</span>
                  <input class="form-control" type="text" formControlName="salary" placeholder="Enter your salary day">
                </div>
                <p style="color: red"
                   *ngIf="customerUpdate.controls.salary.hasError('required')  && customerUpdate.controls.salary.touched">
                  Is
                  not empty</p>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <span class="form-label">Id card</span>
                  <input class="form-control" type="text" formControlName="nationalId" placeholder="Enter id card">
                  <p style="color: red"
                     *ngIf="customerUpdate.controls.nationalId.hasError('required')  && customerUpdate.controls.salary.touched">
                    Is
                    not empty</p>
                  <p style="color: red"
                     *ngIf="customerUpdate.controls.nationalId.hasError('pattern')  && customerUpdate.controls.salary.touched">
                    Format dạng XXXXXXXXX hoặc XXXXXXXXXXXX (X là số 0-9) </p>

                </div>
              </div>
            </div>

            <div class="form-group">
              <span class="form-label">Phone</span>
              <input class="form-control" type="number" formControlName="phone" placeholder="Enter phone">
            </div>
            <p style="color: red"
               *ngIf="customerUpdate.controls.phone.hasError('required')  && customerUpdate.controls.phone.touched">
              Is
              not empty</p>
            <p style="color: red"
               *ngIf="customerUpdate.controls.phone.hasError('pattern')  && customerUpdate.controls.phone.touched">
              Format định dạng 090xxxxxxx hoặc 091xxxxxxx hoặc (84)+90xxxxxxx hoặc (84)+91xxxxxxx</p>
            <div class="form-group">
              <span class="form-label">Email</span>
              <input class="form-control" type="email" formControlName="mail" placeholder="Enter Number Of Floors">
              <p style="color: red"
                 *ngIf="customerUpdate.controls.mail.hasError('required')  && customerUpdate.controls.mail.touched">
                Is
                not empty</p>
              <p style="color: red"
                 *ngIf="customerUpdate.controls.mail.hasError('email')  && customerUpdate.controls.mail.touched">
                Format định dạng email abc@gmail.com</p>
            </div>


            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <span class="form-label">Sex</span>
                  <select class="form-control">
                    <option value="1">Nam</option>
                    <option value="2">Nữ</option>
                  </select>
                  <span class="select-arrow"></span>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <span class="form-label">Customer Type</span>
                  <select class="form-control">

                    <option value="1">Diamond</option>
                    <option value="2">Platinum</option>
                    <option value="3">Gold</option>
                    <option value="4">Silver</option>
                  </select>
                  <span class="select-arrow"></span>
                </div>
              </div>
            </div>


            <div class="form-btn">
              <button type="submit" [disabled]="!customerUpdate.valid" class="submit-btn">Create</button>


            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>


