<h1 style="text-align: center">List Contarct </h1>

<table class="table container">
  <thead class="table-dark">

  <tr>
    <th scope="col">Contract Code</th>
    <th scope="col">Customer Name</th>
    <th scope="col">Facility</th>
    <th scope="col">Start Date</th>
    <th scope="col">End Date</th>
    <th scope="col">Deposit</th>
    <th scope="col">Total Money</th>
    <th>Delete</th>
  </tr>


  </thead>
  <tbody>
  <tr *ngFor="let contract of contract">
    <td>{{contract.id}}</td>
    <td>{{contract.customer.name}}</td>
    <td>{{contract.facility.name}}</td>
    <td>{{contract.startDate}}</td>
    <td>{{contract.endDate}}</td>
    <td>{{contract.deposit}}</td>
    <td>{{contract.total}}</td>

    <!--            <td><a th:href="@{/blog/{id}/showDelete(id=${customer.getId()})}">delete</a></td>-->
    <td>
      <button type="button" class="btn btn-danger btn-sm" (click)="showDeleteModal(contract.id,contract.deposit)"
              data-toggle="modal" data-target="#exampleModal">
        <i class="material-icons">&#xE872;</i>
      </button>
    </td>
  </tr>
  </tbody>
</table>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="hidden" name="id" id="idCustomerDel">
        <p>ID : {{idContract}}</p>
        <p>Deposit : {{deposit}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Close</button>
        <input type="submit" (click)="deleteContract(idContract)" data-dismiss="modal" class="btn btn-danger" value="Delete">
      </div>
    </div>
  </div>
</div>

