<h1 style="text-align: center">List Contarct </h1>

<table class="table container">
  <thead class="table-dark">

  <tr>
    <th scope="col">Contract Code</th>
    <th scope="col">Customer Name</th>
    <th scope="col">Facility</th>
    <th scope="col">Start Date</th>
    <th scope="col">End Date</th>
    <th scope="col">Deposit</th>
    <th scope="col">Total Money</th>
    <th>Delete</th>
  </tr>


  </thead>
  <tbody>
  <tr *ngFor="let contract of contract">
    <td>{{contract.id}}</td>
    <td>{{contract.customer.name}}</td>
    <td>{{contract.facility.name}}</td>
    <td>{{contract.startDate}}</td>
    <td>{{contract.endDate}}</td>
    <td>{{contract.deposit}}</td>
    <td>{{contract.total}}</td>

    <!--            <td><a th:href="@{/blog/{id}/showDelete(id=${customer.getId()})}">delete</a></td>-->
    <td>
      <button
        type="button" class="btn btn-danger" data-toggle="modal"
        data-target="#exampleModalCenter">
        Delete
      </button>
    </td>

  </tr>

  <
  </tbody>
</table>


