<div id="booking" class="section">
  <div class="section-center">
    <div class="container">
      <div class="row">
        <div class="booking-form">
          <div class="form-header">
            <h1>Create</h1>
          </div>
          <form  (ngSubmit)="onSubmit()">

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <span class="form-label">Id Transaction</span>
                  <input class="form-control" type="text" formControlName="id"
                         placeholder="Enter your Id Transaction">
<!--                  <p style="color: red"-->
<!--                     *ngIf="transactionCreate.controls.id.hasError('required') && transactionCreate.controls.id.touched">-->
<!--                    Is-->
<!--                    not empty</p>-->
<!--                  <p style="color: red"-->
<!--                     *ngIf="transactionCreate.controls.id.hasError('pattern') && transactionCreate.controls.id.touched">-->
<!--                    Format MDV-XXXX</p>-->
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <span class="form-label">Date </span>
                  <input class="form-control" type="date" formControlName="date" placeholder="Enter your date ">
<!--                  <p style="color: red"-->
<!--                     *ngIf="transactionCreate.controls.date.hasError('required')  && transactionCreate.controls.date.touched">-->
<!--                    Is not empty</p>-->
<!--                  <p style="color: red"-->
<!--                     *ngIf="transactionCreate.controls.date.hasError('er')  && transactionCreate.controls.date.touched">-->
<!--                    Ngu</p>-->
                </div>
              </div>
            </div>

            <div class="form-group">
              <span class="form-label">Price</span>
              <input class="form-control" type="text" formControlName="price" placeholder="Enter price">
<!--              <p style="color: red"-->
<!--                 *ngIf="transactionCreate.controls.price.hasError('required')  && transactionCreate.controls.price.touched">-->
<!--                Is not empty</p>-->
<!--              <p style="color: red"-->
<!--                 *ngIf="transactionCreate.controls.price.hasError('min')  && transactionCreate.controls.price.touched">-->
<!--                MIN is 500000</p>-->

            </div>


            <div class="form-group">
              <span class="form-label">Area</span>
              <input class="form-control" type="text" formControlName="area" placeholder="Enter area ">

<!--              <p style="color: red"-->
<!--                 *ngIf="transactionCreate.controls.area.hasError('required')  && transactionCreate.controls.area.touched">-->
<!--                Is not empty</p>-->
<!--              <p style="color: red"-->
<!--                 *ngIf="transactionCreate.controls.area.hasError('min')  && transactionCreate.controls.area.touched">-->
<!--                MIN is 20</p>-->

            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <span class="form-label">Transaction Type</span>
                  <select class="form-control" formControlName="transactionType">
                    <option value="">Transaction Type</option>
<!--                    <option *ngFor="let transactionType of transactionType"-->
<!--                            [ngValue]="transactionType">{{transactionType.name}}</option>-->
                  </select>
                  <span class="select-arrow"></span>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <span class="form-label">Customer </span>
                  <select class="form-control" formControlName="customer">
                    <option value="">Select Customer</option>
<!--                    <option *ngFor="let customer of customer"-->
<!--                            [ngValue]="customer">{{customer.name}}</option>-->

                  </select>
                  <span class="select-arrow"></span>
                </div>
              </div>
            </div>

            <div class="form-btn">
              <button type="submit" class="submit-btn">Create</button>
              <br>
              <button type="submit" class="submit-btn" [routerLink]="['/']">Cancel</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>



