<body>
<h1 style="text-align: center">List Contarct </h1>

<table class="table container">
  <thead class="table-dark">

  <tr>
    <th scope="col">Contract Code</th>
    <th scope="col">Customer Name</th>
    <th scope="col">Employee</th>
    <th scope="col">Service</th>
    <th scope="col">Start Date</th>
    <th scope="col">End Date</th>
    <th scope="col">Deposit</th>
    <th scope="col">Total Money</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>


  </thead>
  <tbody>
  <tr>
    <td>1</td>
    <td>Nguyen Van Tâm</td>
    <td>Le Thanh Đạt</td>
    <td>Ocean Studio</td>
    <td>01-01-2022</td>
    <td>05-01-2022</td>
    <td>9000000</td>
    <td>15000000</td>
    <td>
      <a href="@{/customer/{id}/showEdit(id=${customer.getIdCustomer()})}">
        <button type="button" class="btn btn-warning">Edit</button>
      </a></td>
    <!--            <td><a th:href="@{/blog/{id}/showDelete(id=${customer.getId()})}">delete</a></td>-->
    <td>
      <button
        attr="onclick=|deleteModal('${customer.idCustomer}','${customer.nameCustomer}')|"
        type="button" class="btn btn-danger" data-toggle="modal"
        data-target="#exampleModalCenter">
        Delete
      </button>
    </td>


  </tr>
  <tr>
    <td>1</td>
    <td>Nguyen Van Tâm</td>
    <td>Le Thanh Đạt</td>
    <td>Ocean Studio</td>
    <td>01-01-2022</td>
    <td>05-01-2022</td>
    <td>9000000</td>
    <td>15000000</td>
    <td>
      <a href="@{/customer/{id}/showEdit(id=${customer.getIdCustomer()})}">
        <button type="button" class="btn btn-warning">Edit</button>
      </a></td>
    <!--            <td><a th:href="@{/blog/{id}/showDelete(id=${customer.getId()})}">delete</a></td>-->
    <td>
      <button
        attr="onclick=|deleteModal('${customer.idCustomer}','${customer.nameCustomer}')|"
        type="button" class="btn btn-danger" data-toggle="modal"
        data-target="#exampleModalCenter">
        Delete
      </button>
    </td>


  </tr>
  <tr>
    <td>1</td>
    <td>Nguyen Van Tâm</td>
    <td>Le Thanh Đạt</td>
    <td>Ocean Studio</td>
    <td>01-01-2022</td>
    <td>05-01-2022</td>
    <td>9000000</td>
    <td>15000000</td>
    <td>
      <a href="@{/customer/{id}/showEdit(id=${customer.getIdCustomer()})}">
        <button type="button" class="btn btn-warning">Edit</button>
      </a></td>
    <!--            <td><a th:href="@{/blog/{id}/showDelete(id=${customer.getId()})}">delete</a></td>-->
    <td>
      <button
        attr="onclick=|deleteModal('${customer.idCustomer}','${customer.nameCustomer}')|"
        type="button" class="btn btn-danger" data-toggle="modal"
        data-target="#exampleModalCenter">
        Delete
      </button>
    </td>


  </tr>
  <tr>
    <td>1</td>
    <td>Nguyen Van Tâm</td>
    <td>Le Thanh Đạt</td>
    <td>Ocean Studio</td>
    <td>01-01-2022</td>
    <td>05-01-2022</td>
    <td>9000000</td>
    <td>15000000</td>
    <td>
      <a href="@{/customer/{id}/showEdit(id=${customer.getIdCustomer()})}">
        <button type="button" class="btn btn-warning">Edit</button>
      </a></td>
    <!--            <td><a th:href="@{/blog/{id}/showDelete(id=${customer.getId()})}">delete</a></td>-->
    <td>
      <button
        attr="onclick=|deleteModal('${customer.idCustomer}','${customer.nameCustomer}')|"
        type="button" class="btn btn-danger" data-toggle="modal"
        data-target="#exampleModalCenter">
        Delete
      </button>
    </td>


  </tr>
  </tbody>
</table>
</body>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Delete Customer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có muốn xoá không
        <span>Tên: <p id="name"></p></span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
        </button>
        <form method="post" action="@{/customer/delete}">
          <input type="hidden" name="idCustomer" id="id-del">
          <button type="submit" class="btn btn-primary">Xác nhận xoá</button>
        </form>
      </div>
    </div>
  </div>
</div>
